body {
    position:relative;
    width: 3200px;
    height:1800px;
    overflow: hidden;
    margin:1em auto;
    background-image: url("../../game/assets/background.png");
    background-size: 3200px;
    background-repeat: no-repeat;
    z-index:-10;
}


#player {
    background-image: url("../../game/assets/blueBall.png");
    width: 60px;
    height: 60px;
    left: 40px;
    top:300px;
    position: fixed;
    z-index: 50;
    border-radius: 50%;
    box-shadow: 0 0 30px yellow;
    animation: rotate 4s infinite alternate, parcourPath 10s infinite 1s;
}

@keyframes rotate {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

@keyframes parcourPath {
    0% {left:40px; top:300px;}
    25% {left:1250px; top:300px;}
    40% {left:1250px ; top:1400px;}
    55% {left:1350px ; top:1200px;}
    75% {left:450px; top:300px;}
    85% {left:1850px; top:300px;}
    100% {left:40px; top:300px;}
}


.keyW {
    left: 2500px;
    top: 260px;
    background: url("../assets/WKey.png") no-repeat;
    animation: keyboardW 10s infinite step-end 1s;
}

.keyA {
    left:2300px;
    top: 450px;
    background: url("../assets/AKey.png") no-repeat;
    animation: keyboardA 10s infinite step-end 1s;
}

.keyS {
    left:2500px;
    top:450px;
    background: url("../assets/SKey.png") no-repeat;
    animation: keyboardS 10s infinite step-end 1s;
}

.keyD {
    left: 2700px;
    top: 450px;
    box-shadow: inset black 0 0 300px;
    background: url("../assets/DKey.png") no-repeat;
    animation: keyboardD 10s infinite step-end 1s;
}


.keyW, .keyA, .keyS, .keyD{
    position: fixed;
    height: 153px;
    width: 153px;
    z-index: 300;
    border-radius: 15px;
}

@keyframes keyboardW {
    0% {box-shadow: inset black 0 0 300px}
    25% {box-shadow: inset black 0 0 300px}
    40% {box-shadow: inset black 0 0 0}
    75% {box-shadow: inset black 0 0 300px}
}

@keyframes keyboardA {
    0% {box-shadow: inset black 0 0 300px}
    40% {box-shadow: inset black 0 0 300px}
    55% {box-shadow: inset black 0 0 0}
    75% {box-shadow: inset black 0 0 300px}
}

@keyframes keyboardS {
    0% {box-shadow: inset black 0 0 300px}
    25% {box-shadow: inset black 0 0 0}
    40% {box-shadow: inset black 0 0 300px}
}


@keyframes keyboardD {
    0% {box-shadow: inset black 0 0 0}
    25% {box-shadow: inset black 0 0 300px}
    40% {box-shadow: inset black 0 0 0}
    55% {box-shadow: inset black 0 0 300px}
    75% {box-shadow: inset black 0 0 0}
    85% {box-shadow: inset black 0 0 300px}
}


#barMovement{
    position:fixed;
    overflow:hidden;
    left:0;
    top:-100px;
    width: 3200px;
    height: 1800px;
    background: url("../assets/ausweichBalken.png") no-repeat;
    transform:scale(1.2, 0.9);
    animation:test 10s infinite linear 1s;
}

@keyframes test {
     0%   {
         background-position-x: 3200px;
     }
     100% {
         background-position-x: -4600px;
     }
 }

p[title] {
    font-size: 100px;
    color:white;
    position:fixed;
    left:1250px;
    top:-100px;
    cursor: default;
    z-index: 300;
    font-family: Verdana, sans-serif, Arial;
}

#powerup {
    width: 80px;
    height: 80px;
    position: fixed;
    left:1850px;
    top:300px;
    animation: rotate 4s infinite alternate, powerupCollect 10s infinite step-end 1s;
    z-index: 50;
}

@keyframes powerupCollect {
    0%{background-image: url("../../game/assets/powerup-ultra.png");}
    84%{background-image: none;}
}

