body {
    position:relative;
    width: 3200px;
    height:1800px;
    overflow: hidden;
    margin:1em auto;
    background-image: url("../../game/assets/background.png");
    background-size: 3200px;
    background-repeat: no-repeat;
    z-index:0;
}


#player {
    background-image: url("../../game/assets/blueBall.png");
    width: 60px;
    height: 60px;
    left: 40px;
    top:300px;
    position: fixed;
    z-index: 50;
    border-radius: 50%;
    box-shadow: 0 0 30px yellow;
    animation: rotate 4s infinite alternate, parcourPath 10s infinite 1s;
}

@keyframes rotate {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

@keyframes parcourPath {
    0% {left:40px; top:300px;}
    25% {left:1250px; top:300px;}
    40% {left:1250px ; top:1400px;}
    55% {left:1350px ; top:1200px;}
    65% {left:1150px; top:300px;}
    80% {left:1850px; top:300px;}
    100% {left:40px; top:300px;}
}


#barMovement{
    position:fixed;
    overflow:hidden;
    left:0;
    top:-100px;
    width: 3200px;
    height: 1800px;
    background-image:url("../assets/ausweichBalken.png");
    background-repeat: no-repeat;
    transform:scaleX(1.2);
    transform:scaleY(0.9);
    animation:test 10s infinite linear 1s;
}

@keyframes test {
     0%   {
         background-position-x: 3200px;
     }
     100% {
         background-position-x: -4600px;
     }
 }

p[title] {
    font-size: 100px;
    color:white;
    position:absolute;
    left:-250px;
    top:-100px;
    cursor: default;
    z-index: 300;
    font-family: Verdana, sans-serif, Arial;
}
