#healthtableOverlayer {
    width: 3200px;
    border-collapse: collapse;
    position: fixed;
    top: 1530px;
    z-index: 12;
    margin-left:0;
}

#healthtableOverlayer td {
    border: 10px #222 solid;
    font-size: 4em;
    width: 10%;
    height: 50px
}